/**********************************************************************************
	- File Info -
		File name		: pp_styles.css
		Author(s)		: DAVINA Leong Shi Yun
		Date Created	: 27 Jan 2016

	- Contact Info -
		Email	: leong.shi.yun@gmail.com
		Mobile	: (+65) 9369 3752 [Singapore]

***********************************************************************************/
.navbar-brand img {
    display: inline;
}

.clickable {
    cursor: pointer;
}

#main {
    min-height: 750px;
}